@tailwind base;
@tailwind components;
@tailwind utilities;


html {
    scroll-behavior: smooth;
  }
  

  .parallax-bg {
    background-attachment: fixed; /* This creates the parallax effect */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Cover the entire container */
    height: 100vh; /* Full viewport height */
  }
  
  .relative {
    position: relative; /* Ensure the section is relative for absolute positioning of children if needed */
  }
  